In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('HR_Analytics.csv')
df

,EmpID,Age,AgeGroup,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,RM297,18,18-25,Yes,Travel_Rarely,230,Research & Development,3,3,Life Sciences,...,3,80,0,0,2,3,0,0,0,0.0
1,RM302,18,18-25,No,Travel_Rarely,812,Sales,10,3,Medical,...,1,80,0,0,2,3,0,0,0,0.0
2,RM458,18,18-25,Yes,Travel_Frequently,1306,Sales,5,3,Marketing,...,4,80,0,0,3,3,0,0,0,0.0
3,RM728,18,18-25,No,Non-Travel,287,Research & Development,5,2,Life Sciences,...,4,80,0,0,2,3,0,0,0,0.0
4,RM829,18,18-25,Yes,Non-Travel,247,Research & Development,8,1,Medical,...,4,80,0,0,0,3,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,RM412,60,55+,No,Travel_Rarely,422,Research & Development,7,3,Life Sciences,...,4,80,0,33,5,1,29,8,11,10.0
1476,RM428,60,55+,No,Travel_Frequently,1499,Sales,28,3,Marketing,...,4,80,0,22,5,4,18,13,13,11.0
1477,RM537,60,55+,No,Travel_Rarely,1179,Sales,16,4,Marketing,...,4,80,0,10,1,3,2,2,2,2.0
1478,RM880,60,55+,No,Travel_Rarely,696,Sales,7,4,Marketing,...,2,80,1,12,3,3,11,7,1,9.0
1479,RM1210,60,55+,No,Travel_Rarely,370,Research & Development,1,4,Medical,...,3,80,1,19,2,4,1,0,0,0.0

In [3]:

# Check for duplicates in 'EMPID' column
duplicates = df[df.duplicated(subset=['EmpID'], keep=False)]

In [4]:

# Remove duplicates based on 'EMPID'
df = df.drop_duplicates(subset=['EmpID'], keep='last') # Because last value will be the letest updated value

In [5]:
# Optionally, check how many rows were removed
print(f"Duplicates removed: {len(duplicates)}")

Duplicates removed: 20

Duplicates removed: 20

In [6]:
# Checking for null values in the DataFrame
df.isnull().sum()

EmpID                        0
Age                          0
AgeGroup                     0
Attrition                    0
BusinessTravel               0
DailyRate                    0
Department                   0
DistanceFromHome             0
Education                    0
EducationField               0
EmployeeCount                0
EmployeeNumber               0
EnvironmentSatisfaction      0
Gender                       0
HourlyRate                   0
JobInvolvement               0
JobLevel                     0
JobRole                      0
JobSatisfaction              0
MaritalStatus                0
MonthlyIncome                0
SalarySlab                   0
MonthlyRate                  0
NumCompaniesWorked           0
Over18                       0
OverTime                     0
PercentSalaryHike            0
PerformanceRating            0
RelationshipSatisfaction     0
StandardHours                0
StockOptionLevel             0
TotalWorkingYears            0
TrainingTimesLastYear        0
WorkLifeBalance              0
YearsAtCompany               0
YearsInCurrentRole           0
YearsSinceLastPromotion      0
YearsWithCurrManager        57
dtype: int64

In [7]:
df.dropna(inplace=True)

C:\Users\piyus\AppData\Local\Temp\ipykernel_13684\1379821321.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

In [8]:

# Optional: To verify the result
df.isnull().sum()

EmpID                       0
Age                         0
AgeGroup                    0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
SalarySlab                  0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [9]:
df['BusinessTravel'].unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel', 'TravelRarely'],
      dtype=object)

There is two Value Travel_Rarely and TravelRarely They both mean is same so we we'll replace Travel_Rarely with TravelRarely

In [10]:
# Replacing 'Travel_Rarely' with 'TravelRarely' in the 'BusinessTravel' column
df['BusinessTravel'] = df['BusinessTravel'].replace('Travel_Rarely', 'TravelRarely')

# Verify the change
df['BusinessTravel'].unique()

C:\Users\piyus\AppData\Local\Temp\ipykernel_13684\1868188450.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BusinessTravel'] = df['BusinessTravel'].replace('Travel_Rarely', 'TravelRarely')

array(['TravelRarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [11]:
df.columns

Index(['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'SalarySlab',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [12]:
df.Attrition

0       Yes
1        No
2       Yes
3        No
4       Yes
       ...
1475     No
1476     No
1477     No
1478     No
1479     No
Name: Attrition, Length: 1413, dtype: object

In this database We'll not be able to count thhe Attrition value so we'll create a Attrition value

In [13]:
# Creating the 'Attrition_Count' column based on 'Attrition' column
df['Attrition_Count'] = df['Attrition'].map({'Yes': 1, 'No': 0})

# Verify the change
df[['Attrition', 'Attrition_Count']].head()

C:\Users\piyus\AppData\Local\Temp\ipykernel_13684\2450526633.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Attrition_Count'] = df['Attrition'].map({'Yes': 1, 'No': 0})

  Attrition  Attrition_Count
0       Yes                1
1        No                0
2       Yes                1
3        No                0
4       Yes                1

Now we can count how many employee has leaved the company bassed on this column

In [14]:
df.columns

Index(['EmpID', 'Age', 'AgeGroup', 'Attrition', 'BusinessTravel', 'DailyRate',
       'Department', 'DistanceFromHome', 'Education', 'EducationField',
       'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender',
       'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'SalarySlab',
       'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StandardHours', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager',
       'Attrition_Count'],
      dtype='object')

In [15]:
# Filter the DataFrame for employees who left the job
employees_left = df[df['Attrition'] == 'Yes']  

# Calculate the average age
average_age_left = employees_left['Age'].mean()

average_age_left

33.65938864628821

DELETING UNNECESSARY COLUMNS WITH EXPLANATIONS

In [16]:
# List of columns to delete with explanations
# 'DailyRate': We already have MonthlyIncome for salary info.
# 'Education': General education level, may not influence attrition significantly.
# 'EmployeeNumber': Unique identifier, irrelevant for analysis.
# 'EnvironmentSatisfaction': Overlaps with JobSatisfaction and WorkLifeBalance.
# 'HourlyRate': Too granular, MonthlyIncome is more relevant.
# 'JobInvolvement': Overlaps with JobSatisfaction and PerformanceRating.
# 'JobLevel': Redundant with JobRole and Department.
# 'JobSatisfaction': Potential overlap with other satisfaction metrics.
# 'MaritalStatus': Likely not directly influencing attrition without further demographic context.
# 'NumCompaniesWorked': May indicate job-hopping, but less relevant here.
# 'Over18': Provides no variability.
# 'OverTime': Could be kept if overtime impacts attrition.
# 'StandardHours': Constant value, provides no insight.
# 'StockOptionLevel': Too specific for a high-level attrition analysis.
# 'TrainingTimesLastYear': Could impact attrition if linked with development opportunities.
# 'WorkLifeBalance': Overlaps with satisfaction metrics.

columns_to_delete = [
    'DailyRate', 'Education', 'EmployeeNumber', 'EnvironmentSatisfaction', 
    'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MaritalStatus', 
    'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime', 'StandardHours', 
    'StockOptionLevel', 'TrainingTimesLastYear', 'WorkLifeBalance'
]

# Dropping columns in one line
df.drop(columns=columns_to_delete, inplace=True)

C:\Users\piyus\AppData\Local\Temp\ipykernel_13684\3417229889.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=columns_to_delete, inplace=True)

In [19]:
# Save the modified DataFrame to a new CSV file
df.to_csv('HR_Analysis_Cleaned.csv', index=False)